body {
	margin:0;
	font-family:'Lato', sans-serif;
	text-align:center;
	color: #999;
	background-color:black;
}

#menu{
	background:#4682B4;
	height:80px;
	box-shadow : 2px 3px 1px rgba(180, 200, 255, 0.7);
}

#menu strong{
	float:right;
	margin-top:20px;
	margin-right:-140px;
}

#menu a{
	text-decoration:none;
	font-weight:bold;
	float:left;
	color:white;
	line-height:50px;
	margin-left:20px;
}

#menu span{
	color:white;
	float:left;
	line-height:50px;
	margin-left:20px;
}

#menu .logout{
	float:right;
	margin-right:20px;
}

#menu input{
	margin-top:25px;
	border-radius:5px;
	padding:5px;
	width:600px;
}

#menu select{
	border-radius:5px;
	padding:5px;
}

#menu input[type="submit"]{
	display:none;
}

#connexion{
	background :rgba(180, 200, 255, 0.7);
	padding:1%;
	width:900px;
	border : 1px solid black;
	margin:auto;
	border-radius:5px;
	margin-top:100px;
	color:black;
	font-weight:bold;
	border:4px solid rgba(255,30,70,0.5);
}

#connexion:hover{
	border:4px solid rgba(100,200,255,0.7);
}

#connexion label{
	width:150px;
	float:left;
	display:block;
	margin-top:40px;
}

#connexion input{
	margin-top:40px;
	border-radius:5px;
	width:200px;
	text-align:center;
	padding:5px;
}

#connexion input[type="submit"]{
	height:40px;
	background:rgba(100,200,255,0.5);
	border:3px solid rgba(255,255,255,0.5);	
}

#connexion input[type="submit"]:hover{
	background:rgba(255,10,35,0.5);
	height:40px;
	border:3px solid rgba(255,255,255,0.5);
}

#inscription{
	background :rgba(180, 200, 255, 0.7);
	padding:1%;
	width:900px;
	border : 1px solid black;
	margin:auto;
	border-radius:5px;
	margin-top:100px;
	color:black;
	font-weight:bold;
	border:4px solid rgba(255,30,70,0.5);
}

#inscription:hover{
	border:4px solid rgba(100,200,255,0.5);
}

#inscription label{
	width:150px;
	float:left;
	display:block;
	margin-top:40px;
}

#inscription input{
	margin-top:40px;
	border-radius:5px;
	width:200px;
	text-align:center;
	padding:5px;
}

#inscription input[type="submit"]{
	height:40px;
	background:rgba(100,200,255,0.5);
	border : 3px solid rgba(255,255,255,0.5);
	
}

#inscription input[type="submit"]:hover{
	background:rgba(255,10,35,0.5);
	height:40px;
	border : 3px solid rgba(255,255,255,0.5);
}

#catalogue{
	background :rgba(180, 200, 255, 0.7);
	padding:1%;
	width:80%;
	margin:auto;
	border : 1px solid black;
	border-radius:5px;
	margin-top:100px;
	color:black;
	font-weight:bold;
	border:4px solid rgba(255,30,70,0.5);
}

#catalogue:hover{
	border:4px solid rgba(100,200,255,0.5);
}

#catalogue label{
	width:150px;
	float:left;
	display:block;
	margin-top:40px;
}

#catalogue input{
	margin-top:40px;
	border-radius:5px;
	width:200px;
	text-align:center;
	padding:5px;
}

#catalogue textarea{
	margin-top:40px;
	border-radius:5px;
	width:200px;
	text-align:center;
	padding:5px;
	height:50px;
}

#catalogue select{
	margin-top:40px;
	border-radius:5px;
	width:200px;
	text-align:center;
	padding:5px;
}

#catalogue input[type="submit"]{
	height:40px;
	background:rgba(100,200,255,0.5);
	border : 3px solid rgba(255,255,255,0.5);
	
}

#catalogue input[type="submit"]:hover{
	background:rgba(255,10,35,0.5);
	height:40px;
	border : 3px solid rgba(255,255,255,0.5);
}

#menucategorie{
	margin-top:100px;
	position:absolute;
	float:left;
	background:#4682B4;
	width:200px;
	height:auto;
	border-radius:0px 5px 5px 0px;
}

#menucategorie h4{
	font-size:17px;
	float:left;
	margin-left:5px;
	color:black;
	margin-bottom:0px;
	margin-top:30px;
}

#menucategorie a{
	font-size:15px;
	text-decoration:none;
	float:left;
	text-align:left;
	color:white;
	margin-top:20px;
	width:200px;
	margin-left:20px;
}

.picture{
	border : 1px solid rgba(30,50,155,0.6);
	height:200px;
	width:300px;
	float:left;
	margin-left:70px;
	margin-top:100px;
}

.picture img{
	width:150px;
	height:150px;
	position:center;
	margin-top:5px;
	margin-bottom:5px;

}

.picture a{
	display:block;
	text-decoration:none;
	color:white;
	text-align:center;
}

.ecommerce{
	position:absolute;
	margin:auto;
	width:50%;
	margin-top:100px;

}
.update{
	border-radius:5px;
	margin-left:570px;
	border:1px solid rgba(30,50,155,0.6);
	height:420px;
	width:800px;
	margin-top:100px;
}

.update strong{
	line-height:50px;
	color:gold;
}

.update span{
	position:absolute;
	float:left;
	margin-left:-240px;
	width:480px;
	height:300px;
}

.update small{
	font-weight:bold;
	margin-top:310px;
	float:right;
	margin-right:10px;;
	text-align:right;
}

.pic {
	margin-top:125px!important;
	float:left;
	margin-left:580px;
	margin-top:20px;
	width:250px;
	height:350px;
	padding-right:20px;
	border-right : 1px solid white;
}

.pic img{
	width:90%;
	margin-top:100px;
}

#edit{
	margin-left:570px;
	margin-top:-50px;
	border-radius:5px;
	text-align:left;
	padding-left:20px;
	width:80px;
	height:40px;
	cursor:pointer;
}

#edit a{
	text-decoration:none;
	color:white;
}

#update{
	margin-top:20px;
	border:1px solid rgba(30,50,155,0.6);
	margin-left:570px;
	width:800px;
	height:240px;
	display:none;
	border-radius:5px;
}

#update label{
	margin-top:20px;
	text-align:left;
	margin-left:20px;
	float:left;
	display:block;
	width:0px;
}

#update input{
	margin-top:20px;
	width:200px;
	padding:5px;
	border-radius:5px;
	text-align:center;
}

#update textarea{
	margin-top:20px;
	width:200px;
	padding:5px;
	border-radius:5px;
	text-align:center;
}

#update input[type="file"]{
	margin-top:20px;
	width:200px;
	padding:5px;
	border-radius:5px;
	text-align:center;	
}

#update input[type="submit"]{
	position:absolute;
	margin-left:170px;
	margin-top:-195px;
	height:200px;
	background:rgba(100,200,255,0.5);
	border:3px solid rgba(255,255,255,0.5);	
}

#update input[type="submit"]:hover{
	background:rgba(255,10,35,0.5);
}

::-webkit-scrollbar { width:10px;height:10px; }
::-webkit-scrollbar-track { background-color:rgba(180, 200, 255, 0.7); }
::-webkit-scrollbar-thumb { background-color:white; }
::-webkit-scrollbar-button { background-color:rgba(100, 200, 255, 0.7); }
::-webkit-scrollbar-corner { background-color:rgba(180, 200, 255, 0.7); }